---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
        </div>
    </section>
</div>

<article class="container">
   <section class="pagination">
      <div>
          
      </div>
   </section>
</article> 

<article class="container">
   <section >
        <div>
            <p>In the early 1980s, my dear mama would drive me over to the Radio Shack on the second floor of the Salem Mall and watch while I hand-keyed textbook BASIC tutorials standing at a Model III on display in the front of the store.  The store manager had agreed to let me use the computer as long as no prospective customers wanted to see it.  Not sure if he thought it would bring in people curious about what the kid was doing on the computer, but I chewed up hours and hours of free computer time on that system.</p>

            <p>Being a computer nerd was all for fun and hobby, because I had no intention of getting into the field when I grew up. Programming was what my dad did for work &mdash; I instead had aspirations of getting into radio and TV and being a newscaster, just like Peter Jennings and Dan Rather.</p>

            <p>But here I am, almost 35 years later, still keying tutorials into computers and learning about programming. And it turns out computers is how I make a living after all, like father like son. My current role is as a presales consultant in Oracle's packaged enterprise apps group.</p>

            <p>Most recently I've focused on our Platform as a Service and Cloud SaaS offerings. Having dabbled in JavaScript libraries and frameworks since 2008 I'm really excited by the surge in JavaScript adoption in our products, from the Database to our platform offerings to our custom-development tools to our packaged apps.</p>



            <p>The views expressed on this blog are my own and do not necessarily reflect the views of Oracle.</p>
        </div>
     </section>

{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
